//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_f2 {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp F2>;
        };

        combo_print_screen {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <8 9>;
        };

        combo_undo {
            bindings = <&kp LC(Z)>;
            key-positions = <4 3>;
        };

        combo_cut {
            bindings = <&kp LC(X)>;
            key-positions = <13 14>;
        };

        combo_copy {
            bindings = <&kp LC(C)>;
            key-positions = <24 25>;
        };

        combo_paste {
            bindings = <&kp RC(V)>;
            key-positions = <33 32>;
        };

        combo_vol_up {
            bindings = <&kp C_VOL_UP>;
            key-positions = <15 16>;
        };

        combo_vol_down {
            bindings = <&kp C_VOL_DN>;
            key-positions = <26 27>;
        };

        combo_caps_lock {
            bindings = <&kp CAPS>;
            key-positions = <36 35>;
        };

        combo_play {
            bindings = <&kp C_PLAY>;
            key-positions = <31 30>;
            layers = <0 4 2>;
        };

        combo_prev {
            bindings = <&kp C_PREV>;
            key-positions = <28 29>;
            layers = <0 2 4>;
        };

        combo_next {
            bindings = <&kp C_NEXT>;
            key-positions = <29 30>;
        };

        combo_comment {
            bindings = <&start_com>;
            key-positions = <21 22>;
        };

        combo_end_com {
            bindings = <&end_com>;
            key-positions = <22 23>;
        };

        combo_perm_nav {
            bindings = <&tog 2>;
            key-positions = <20 21>;
            layers = <2 0 4>;
        };

        game_combo {
            bindings = <&tog 4>;
            key-positions = <34 33>;
        };

        combo_caps_word {
            bindings = <&caps_word>;
            key-positions = <33 36>;
        };

        combo_pl_a {
            bindings = <&kp RA(A)>;
            key-positions = <10 11>;
        };

        combo_pl_z {
            bindings = <&kp RA(Z)>;
            key-positions = <11 12>;
        };

        combo_pl_s {
            bindings = <&kp RA(S)>;
            key-positions = <12 13>;
        };

        combo_pl_c {
            bindings = <&kp RA(C)>;
            key-positions = <23 24>;
        };

        combo_pl_o {
            bindings = <&kp RA(O)>;
            key-positions = <19 18>;
        };

        combo_pl_l {
            bindings = <&kp RA(L)>;
            key-positions = <18 17>;
        };

        combo_pl_e {
            bindings = <&kp RA(E)>;
            key-positions = <17 16>;
        };

        combo_pl_n {
            bindings = <&kp RA(N)>;
            key-positions = <28 27>;
        };

        combo_pl_x {
            bindings = <&kp RA(X)>;
            key-positions = <26 16>;
        };

        combo_redo {
            bindings = <&kp LC(Y)>;
            key-positions = <5 6>;
        };

        combo_open_inner {
            bindings = <&pl_open_inner>;
            key-positions = <20 21>;
            layers = <1>;
        };

        combo_close_inner {
            bindings = <&pl_close_inner>;
            key-positions = <30 31>;
            layers = <1>;
        };

        combo_dots {
            bindings = <&pl_dots>;
            key-positions = <28 29>;
            layers = <1>;
        };
    };

    macros {
        em_dash: em_dash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_5 &kp KP_NUMBER_1>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "EM_DASH";
        };

        pound: the_pound {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_1 &kp KP_NUMBER_5 &kp KP_NUMBER_6>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "THE_POUND";
        };

        tilde: tilde {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp TILDE &kp SPACE>;
            label = "TILDE";
        };

        start_com: start_com {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp MINUS &kp LBKT &kp LBKT>;
            label = "START_COM";
        };

        end_com: end_com {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp MINUS &kp RBKT &kp RBKT>;
            label = "END_COM";
        };

        office_pound: office_pound {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N0 &kp N0 &kp A &kp NUMBER_3 &kp LA(X)>;
            label = "OFFICE_POUND";
        };

        pl_open_quote: pl_open_quote {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_3 &kp KP_NUMBER_2>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "PL_OPEN_QUOTE";
        };

        pl_close_quote: pl_close_quote {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_4 &kp KP_NUMBER_8>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "PL_CLOSE_QUOTE";
        };

        pl_open_inner: pl_open_inner {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_7 &kp KP_NUMBER_1>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "PL_OPEN_INNER";
        };

        pl_close_inner: pl_close_inner {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_8 &kp KP_NUMBER_7>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "PL_CLOSE_INNER";
        };

        pl_dots: pl_dots {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_3 &kp KP_NUMBER_3>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "PL_DOTS";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "BASE";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     Q     ┃     W     ┃     F     ┃     P     ┃     B     ┃   ┃     J     ┃     L     ┃     U     ┃     Y     ┃     '     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃     A     ┃     R     ┃     S     ┃     T     ┃     G     ┃   ┃     M     ┃     N     ┃     E     ┃     I     ┃     O     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃    ESC    ┃     X     ┃     V     ┃     C     ┃     D     ┃     K     ┃   ┃     Z     ┃     H     ┃     ,     ┃     .     ┃     :     ┃   ENTER   ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃    SYM    ┃    TAB    ┃    DEL    ┃   ┃   BKSPC   ┃   SPACE   ┃    SYM    ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
                     &mt LEFT_CONTROL Q  &kp W  &kp F  &kp P               &kp B           &kp J            &kp L                  &kp U      &kp Y    &mt RIGHT_CONTROL APOS
                     &kp A               &kp R  &kp S  &kp T               &kp G           &kp M            &kp N                  &kp E      &kp I    &kp O
&mt LEFT_WIN ESCAPE  &mt LEFT_ALT X      &kp V  &kp C  &kp D               &kp K           &kp Z            &kp H                  &kp COMMA  &kp DOT  &mt LEFT_ALT COLON      &mt RIGHT_WIN RET
                                                &mo 1  &mt LEFT_SHIFT TAB  &lt 2 DELETE    &lt 2 BACKSPACE  &mt RIGHT_SHIFT SPACE  &mo 1
            >;
        };

        sym_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "SYM";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     `     ┃     (     ┃     )     ┃     +     ┃     £     ┃   ┃     £     ┃     |     ┃     {     ┃     }     ┃     —     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃     ~     ┃     <     ┃     >     ┃     =     ┃     *     ┃   ┃     @     ┃     _     ┃     [     ┃     ]     ┃     ?     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃     „     ┃     \     ┃     %     ┃     ^     ┃     -     ┃     $     ┃   ┃     &     ┃     #     ┃     ;     ┃     !     ┃     /     ┃     ”     ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
                &kp GRAVE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PLUS   &pound          &office_pound  &kp PIPE        &kp LEFT_BRACE  &kp RIGHT_BRACE  &em_dash
                &tilde     &kp LESS_THAN         &kp GREATER_THAN       &kp EQUAL  &kp ASTERISK    &kp AT_SIGN    &kp UNDERSCORE  &kp LBKT        &kp RBKT         &kp QUESTION
&pl_open_quote  &kp BSLH   &kp PERCENT           &kp CARET              &kp MINUS  &kp DOLLAR      &kp AMPS       &kp HASH        &kp SEMI        &kp EXCL         &kp FSLH      &pl_close_quote
                                                 &trans                 &trans     &trans          &trans         &trans          &trans
            >;
        };

        nav_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "NAVI";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃           ┃           ┃     UP    ┃   P UP    ┃    INS    ┃   ┃  NUM_LCK  ┃     7     ┃     8     ┃     9     ┃           ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃   HOME    ┃   LEFT    ┃    DOWN   ┃   RIGHT   ┃    END    ┃   ┃           ┃     4     ┃     5     ┃     6     ┃           ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃           ┃           ┃           ┃           ┃  P DOWN   ┃           ┃   ┃     0     ┃     1     ┃     2     ┃     3     ┃           ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
        &trans    &trans    &kp UP          &kp PAGE_UP  &kp INS    &kp KP_NUMLOCK   &kp KP_N7  &kp KP_N8  &kp KP_N9  &trans
        &kp HOME  &kp LEFT  &kp DOWN_ARROW  &kp RIGHT    &kp END    &trans           &kp KP_N4  &kp KP_N5  &kp KP_N6  &trans
&trans  &trans    &trans    &trans          &kp PG_DN    &trans     &kp KP_NUMBER_0  &kp KP_N1  &kp KP_N2  &kp KP_N3  &trans  &trans
                            &trans          &trans       &trans     &trans           &trans     &trans
            >;
        };

        function_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "FUN";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     F2    ┃     F3    ┃     F4    ┃    F5     ┃     F6    ┃   ┃     F7    ┃     F8    ┃    F9     ┃     F10   ┃     F11   ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃    F1     ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃     0     ┃     ,     ┃     .     ┃           ┃    F12    ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            bindings = <
        &kp F2  &kp F3  &kp F4  &kp F5  &kp F6    &kp F7  &kp F8     &kp F9     &kp F10  &kp F11
        &trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans     &trans   &trans
&kp F1  &trans  &trans  &trans  &trans  &trans    &trans  &kp KP_N0  &kp COMMA  &kp DOT  &trans   &kp F12
                        &trans  &trans  &trans    &trans  &trans     &trans
            >;

         };

        game_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "GAM";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃    TAB    ┃     Q     ┃     W     ┃     E     ┃     R     ┃   ┃     1     ┃     2     ┃    UP     ┃     3     ┃     4     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃   SHIFT   ┃     A     ┃     S     ┃     D     ┃     F     ┃   ┃     5     ┃   LEFT    ┃   DOWN    ┃   RIGHT   ┃     6     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃   ESC     ┃   CTRL    ┃     Z     ┃     X     ┃     C     ┃     V     ┃   ┃     7     ┃     8     ┃     9     ┃     0     ┃     -     ┃     +     ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃    ALT    ┃   ENTER   ┃   SPACE   ┃   ┃           ┃           ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
         &kp TAB    &kp Q  &kp W     &kp E    &kp R        &kp NUMBER_1  &kp NUMBER_2    &kp UP_ARROW    &kp NUMBER_3  &kp NUMBER_4
         &kp LSHFT  &kp A  &kp S     &kp D    &kp F        &kp N5        &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT     &kp NUMBER_6
&kp ESC  &kp LCTRL  &kp Z  &kp X     &kp C    &kp V        &kp N7        &kp N8          &kp N9          &kp N0        &kp MINUS     &kp PLUS
                           &kp LALT  &kp RET  &kp SPACE    &trans        &trans          &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        both_layers {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
